<h1>Hello, <%= current_user.name %></h1>

<h2>These are your posts:</h2>
<% if current_user.posts.length > 0 %>
    <% current_user.posts.each do |f| %>
    <div>
      <div id='image'>
          <img><%= image_tag (f.img_uri) %></img>
      </div>
      <div>
        <%= f.site_found %>
      </div>
      <div>
        <%= f.description %>
      </div>
    </div>
    <% end %>

<% else %>
  <h3>No posts found!</h3>
<% end %>

