<%= @post.description %>

<div>
  <%= image_tag (@post.img_uri) %>
</div>


<button><a style="text-decoration: none" href="/like/<%= @post.id %>">ROCK UP</a></button>
<p> <%= @post.likes %> People Liked This Rock!</p>
