// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img {
  width: 100%;
  height: 100%;
}

h4 {
  padding-top: 20px;
  padding-left: 12px;
}

.rock-story {
  color: white;
}

p {
  text-indent: 14px;
  width: 550px;
}

.front {
  width: 600px;
  margin: 0px auto;
}

#definition {
  font-style: italic;
  font-size: 18px;
}

.image {
  position: relative;
  width: 100%
}

#label {
  background: rgba(255,255,255, .7);
  position: absolute;
  top: 70%;
  left: 0px;
  width: fit;
  padding-right: 2px;
}

.btn-block {
  margin-top: 20px;
  height: 50px;
}
.title {
  margin: 70px auto 20px auto;
  width: 300px;
  height: 300px;
}
#description {
  margin: 12px auto 30px auto;
  background-color: rgba(35,35,35,1);

  border-radius: 25px;
  width: 570px;
  height: 200px;
}
