<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="narrow container">

  <% if current_user %>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand pull-left" href="/posts">
          <img id="logo-rock" alt="Rock" src="https://i.imgur.com/VMViBOU.png">
        </a>
        <div class="login">
          <a href="/logout" class="btn btn-danger pull-right">Logout</a>
        </div>
      </div>
    </nav>

    <% else %>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand pull-left" href="/posts">
          <img id="logo-rock" alt="Rock" src="https://i.imgur.com/VMViBOU.png">
        </a>
        <div class="login">
          <a href="/login" class="btn btn-primary pull-right">Login</a>
        </div>
      </div>
    </nav>

  <% end %>


<%= yield %>
</div>
</body>
</html>
